.footer {
  background-color: #3d3d3d;
  width: 100%;
  padding: 0.5rem;
  color: #fff;
  text-align: center;
  vertical-align: baseline;
  margin-top: 100px;
  height: 5.5rem;
}
.footer a {
  color: red;
  text-decoration: none;
  transition: 1s ease;
}
.footer a:hover {
  transform: scale(1.2);
  color: red;
}
